<style>
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #f1f1f1
}

.show {
	display: block;
}

.icon-profile {
	background-color: #FFFFFF;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
	top: 20px;
	left: 2px;
}

.icon-profile:after {
	background-color: #FFFFFF;
	width: 10px;
	height: 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	position: absolute;
	bottom: -7px;
	left: -1px;
	content: "";
}
</style>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
	<div class="container-fluid" ng-controller="UserController as cytrl">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">SLAM BOOK</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Blogs<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/create_blog">Write a Blog</a></li>
						<li><a href="#/list_blog">See what your friends posted</a></li>
						<li><a href="#/my_blogs" ng-show="currentUser.id">My
								Blogs</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Job <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/search_job">Available Jobs</a></li>
						<li><a href="#/post_job"
							ng-show="currentUser.role=='ROLE_ADMIN'">Post a Job</a></li>
					</ul></li>

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Chat <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/chat">Take me to chatroom</a></li>
						<li><a href="#/privatechat">P2P</a></li>
					</ul></li>

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">Event <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/events">See Events</a></li>
						<li><a href="#/event"
							ng-show="currentUser.role=='ROLE_ADMIN'">Upload Event</a></li>
					</ul></li>

				<!-- FOR ADMIN ONLY -->
				<li class="dropdown" ng-show="currentUser.role=='ROLE_ADMIN'"><a
					href="#" class="dropdown-toggle" data-toggle="dropdown">Manage
						users <span class="caret"></span>
				</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/manageblogs">Manage Blogs</a></li>
						<li><a href="#/managejobs">Manage Jobs</a></li>
					</ul></li>
				<div class="dropdown">
					<div class="icon icon-profile"></div>
						<button onclick="myFunction()" class="dropbtn">{{currentUser.id}}</button>
						<div id="myDropdown" class="dropdown-content">
							<a href="#/myProfile" ng-show="currentUser.id">My Profile</a> <a
								href="#" ng-show="currentUser.id" ng-click="cytrl.logout()">Logout</a>
						</div>
					
				</div>
				<div class="dropdown">
					<div id="myDropdown" class="dropdown-content">
						<a href="#/chat">Take me to chatroom</a>
					</div>
				</div>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#register"><b>Register</b></a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					ng-show="!currentUser.id" data-toggle="dropdown"><b>Login</b> <span
						class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							<div class="row">



								<div class="col-md-12">

									<form class="form" role="form" ng-submit="cytrl.login()"
										accept-charset="UTF-8" id="login-nav">
										<div class="form-group">

											<input type="text" ng-model="cytrl.user.id"
												class="form-control" id="exampleInputEmail2"
												placeholder="Username/Nickname" required>
										</div>
										<div class="form-group">

											<input type="password" ng-model="cytrl.user.password"
												class="form-control" id="exampleInputPassword2"
												placeholder="Password" required>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Sign
												in</button>
										</div>
									</form>
								</div>
							</div>
						</li>
					</ul></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<script>
	function myFunction() {
		document.getElementById("myDropdown").classList.toggle("show");
	}

	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
		if (!event.target.matches('.dropbtn')) {

			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
					openDropdown.classList.remove('show');
				}
			}
		}
	}
</script>